.dotted-arch-position-1{
    top: 32%;
    left: 26%;
    width: 50%;
    transform: rotate(3deg);
}
.dotted-arch-position-2{
    bottom: 2%;
    left: 35%;
    width: 26%;
    transform: rotate(-9deg);
}
@media all and (min-width:1200px){

    .sustainability--section{
        height: 650px;
    }

}