:root {
    --nav-green: #64B900;
}


.dropdown-menu {
    background-color: rgba(4, 35, 43, 0.95);
    color: white;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #e2fef0;
}

.navigation.inverse .navbar-nav .dropdown-toggle::after {
    filter: invert(1);
}

.navigation.inverse .navbar-nav .nav-link {
    color: #141715;
}

.navbar-light .navbar-nav .nav-link.active {
    border-bottom: 2px solid var(--nav-green, #64B900);
}

.navigation .navbar-nav .nav-link {
    font-size: 0.9rem;
    display: flex;
}

.dropdown-toggle::after {
    display: inline-flex;
    margin-left: .255em;
    vertical-align: .255em;
    content: url("../../../assets/img/drop-down-icon.svg");
    border: none;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--nav-green, #64B900);
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .6rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

@media all and (max-width: 480px) {
    .navbar {
        padding: 0rem;
    }

    .navbar-light .navbar-toggler-icon {
        filter: invert(1) brightness(1);
    }

    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }
    .navigation .navbar-nav .nav-link {
        font-size: 0.9rem;
        width: 1rem;
    }
}

@media all and (min-width: 1200px) {
    .dropdown-menu {
        left: -160px;
    }

}