.dotted-arch-position-1{
    top: 26% !important;
    left: 29%!important;
    width: 37%!important;
    transform: rotate(-1deg)!important;
}
.dotted-arch-position-2{
    bottom: 8%!important;
    left: 39%!important;
    width: 22%!important;
    transform: rotate(-9deg)!important;
}