.dotted-arch-position-1{
    top: 19% !important;
    left: 23%!important;
    width: 20%!important;
    transform: rotate(-9deg)!important;
}
.dotted-arch-position-2{
    bottom: 66%!important;
    left: 55%!important;
    width: 20%!important;
    transform: rotate(-8deg)!important;
}