.dotted-arch-position-1{
    top: 28% !important;
    left: 29%!important;
    width: 37%!important;
    transform: rotate(6deg)!important;
}
.dotted-arch-position-2{
    bottom: 15%!important;
    left: 35%!important;
    width: 22%!important;
    transform: rotate(-9deg)!important;
}