.dotted-arch-position-1{
    top: 29%;
    left: 26%;
    width: 38%;
    transform: rotate(3deg);
}
.dotted-arch-position-2{
    bottom: 17%;
    left: 35%;
    width: 23%;
    transform: rotate(-9deg);
}